.red{
  color:red;
}
.form-area
{
  /*background-color: #e0e0e0;*/
  padding: 10px 40px 60px;
  margin: 10px 0px 60px;
  /*border: 1px solid GREY;*/
}

.pt-3-half {
  padding-top: 1.4rem;
}
#imaginary_container{
  margin-top:5%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
  background: white !important; 
}
.stylish-input-group .form-control{
border-right:0; 
box-shadow:0 0 0; 
border-color:#ccc;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}
input.ng-invalid{border-left : 5px solid red; }
input.ng-valid{border-left: 5px solid green}



